.template-content
   font-family: 'Manrope', sans-serif
   background: var(--color-bg)
   font-weight: 500
   font-size: 24px
   line-height: 140%
   color: var(--color-text-brown)
   overflow: hidden
   position: relative
   display: flex
   flex-direction: column
   min-height: 100vh
   --spacing-3xs: clamp(0.25rem, 0.4vw, 0.5rem)
   --spacing-2xs: clamp(0.5rem, 0.7vw, 1rem)
   --spacing-xs: clamp(1rem, 1.7vw, 2rem)
   --spacing-sm: clamp(1.5rem, 2.6vw, 3.125rem)
   --spacing-md: clamp(2rem, 3.5vw, 4.25rem)
   --spacing-lg: clamp(3rem, 5.2vw, 6.25rem)
   --spacing-xl: clamp(4rem, 7.3vw, 8.75rem)
   --spacing-2xl: clamp(5rem, 8.5vw, 10.25rem)
   --spacing-3xl: clamp(6rem, 12.3vw, 14.75rem)
   --spacing-block: clamp(4rem, 7.5vw, 9rem)
   --color-primary: #5F880E
   --color-secondary: #2A65B8
   --color-text-white: #FFFFFF
   --color-text-yellow: #FFE940
   --color-text-brown: #58413B
   --color-bg: #F9F2D9
.template-content[data-theme="green"]
   --color-primary: #5F880E
   --color-decor: #79A720
   --color-main: #848C36
   .dress__bg_green
      display: block
   .dress__bg_blue
      display: none
   .faq__bg_blue
      display: none
.template-content[data-theme="blue"]
   --color-primary: #2A65B8
   --color-text-brown: #262626
   --color-bg: white
   --color-decor: #518DE3
   --color-main: #518DE3
   .guest__check input:checked + .guest__check-box
      background-color: var(--color-decor)
      border: 2px solid var(--color-decor)
      &:before
         background: url(../img/check2-blue.svg) center / contain no-repeat
   .dress__bg_green
      display: none
   .dress__bg_blue
      display: block
   .guest__radio input:checked
      & + .guest__radio-box
         background-color: var(--color-decor)
         border: 2px solid var(--color-decor)
         &:before
            background-size: 107% !important
            background: url("../img/check-blue.svg") center / contain no-repeat
   .faq__bg_blue
      display: block
   .faq__bg_green 
      display: none
   .map__tabs button
      border: 1px solid var(--color-decor)
   .map__tabs button.active
      border: 1px solid var(--color-primary)
      background: var(--color-primary)
      color: var(--color-text-white) !important
.template-content
   a
      text-decoration: none
      box-sizing: border-box
      transition: 0.5s !important
      &:hover 
         color: var(--color-text-yellow)
   ul 
      margin: 0
      padding: 0
      list-style-type: none
   a
      transition: color 0.5s ease
      box-sizing: border-box
   button
      cursor: pointer
      box-sizing: border-box
   textarea
      transition: border 0.5s
      box-sizing: border-box
      &:focus
         transition: border 0.5s
         outline: none
   input
      transition: 0.5s
      box-sizing: border-box
      &:disabled
         pointer-events: none
         opacity: 0.5
      &:focus 
         transition: 0.5s
      &:focus-visible
         outline: initial
   div 
      box-sizing: border-box
.container
   padding: 0 15px
   width: 100%
   max-width: 1309px
   margin: 0 auto
.d-flex, .q
   display: flex
.hide
   display: none !important
.title
   margin: 0
   color: var(--color-primary)
   font-size: clamp(40px, calc(26.15px + 3.846vw), 100px)
   line-height: 100%
   text-align: center
   letter-spacing: -0.04em
   text-transform: uppercase
   width: 100%
   max-width: 634px
   font-family: 'Cormorant Garamond'
   font-weight: 400
   color: var(--color-primary)
.title2
   margin: 0
   font-family: 'Cormorant Garamond'
   font-weight: 400
   font-size: clamp(40px, calc(30.77px + 2.564vw), 80px)
   line-height: 100%
   text-align: center
   letter-spacing: -0.04em
   text-transform: uppercase
   color: var(--color-text-white)
   width: 100%
   max-width: 768px
.icon 
   transition: fill 0.5s, stroke 0.5s
.prog__content, .timing__tabs, .map__tabs, .menu ul
   scrollbar-width: thin
   scrollbar-color: transparent transparent
.btn 
   display: flex
   align-items: center
   justify-content: center
   transition: 0.5s
   box-sizing: border-box
