@media screen and (max-width: 1600px)
   .about__fig1 
      bottom: 96px
      left: -132px
      z-index: 0
      width: 313px
   .timing__content 
      width: 100%
      max-width: 79%
      margin: 0 auto
   .timing__pic_1 
      width: 871px
      bottom: 153px
      left: -274px
   .timing__pic_3 
      width: 348px
      bottom: 363px
      right: -167px
   .timing__pic_2 
      height: 448px
      width: 332px
      bottom: 197px
      left: -164px
   .timing__pic_4 
      width: 294px
      bottom: 215px
      right: -162px
      height: 338px
   .story .swiper-gallery
      width: 570px
      height: 616px
      margin: 0
   .story__content
      margin-left: 80px
   .story__pic_5
      right: -181px
   .story__pic_4
      right: 0
   .story__pic_2 
      width: 155px
      right: 194px
      bottom: 39px
   .story__pic_1
      width: 429px
   .story__pic_3 
      width: 201px
      right: -152px
      bottom: 167px
   .dress__sub
      max-width: 1113px
   .dress__pic 
      right: -173px
      top: 229px
      width: 262px
   .wishlist__images img:nth-child(2) 
      width: 263px
      top: -128px
      right: -85px
      height: 325px
   .wishlist__fig1
      width: 266px
      top: -110px
      right: 91px
   .faq__pic 
      right: -187px
      top: 79px
      width: 470px
   .map__pic 
      height: 336px
      right: -134px
      top: 84px
      width: 288px
   .timing__wrap
      padding-top: 60px
@media screen and (max-width: 1350px)
   .personal_greeting h3
      max-width: 859px
   .personal_greeting p
      max-width: 895px
   .personal_greeting__images img:nth-child(2) 
      width: 213px
      top: -85px
      right: -16px
      height: 263px
   .personal_greeting__images img:first-child 
      width: 254px
      top: 140px
      left: -63px
      height: 300px
   .personal_greeting__decor_1
      z-index: 0
      width: 388px
      top: -146px
      left: -82px
   .personal_greeting__images img:nth-child(4) 
      width: 456px
      top: -108px
      margin-right: -341px
   .calendar__pic_1 
      left: -109px
      top: 265px
      border-radius: 24px
      width: 518px
      height: 588px
   .about__pic 
      right: -45px
      width: 56%
      height: 100%
   .about__fig1 
      bottom: 96px
      left: -9px
      width: 270px
   .timing__top 
      width: 1790px
      margin-left: -895px
      height: 107px
      top: 40px
   .personal_greeting p
      max-width: 817px
   .timing__pic_1 
      width: 816px
      bottom: 153px
      left: -189px
   .timing__pic_2 
      height: 375px
      width: 278px
      bottom: 197px
      left: -47px
   .timing__pic_3 
      width: 325px
      bottom: 380px
      right: -127px
   .timing__pic_4 
      height: 306.3px
      width: 266px
      bottom: 215px
      right: -75px
   .story .swiper-gallery 
      width: 500px
      height: 540px
   .story__content 
      max-width: 42%
      margin-left: 52px
      top: 0
      margin-top: 92px
      left: 0
   .story__pic_4 
      right: 79px
      top: 81px
      width: 214px
   .story__pic_2 
      width: 131px
      right: 248px
      bottom: 37px
   .dress
      padding-top: 50px
   .story__pic_5
      right: -45px
      z-index: 0
   .story__pic_3 
      width: 154px
      right: -20px
      bottom: 167px
   .dress__sub
      max-width: 850px
   .dress__pic 
      right: -71px
      top: 186px
      width: 262px
   .dress__colors
      gap: 60px
   .guest__item
      width: 320px
   .guest__item_7
      width: 100% !important
   .guest .guest-select-swiper
      padding-bottom: 1px
   .guest__item h3
      line-height: 18px
   .wishlist
      overflow: hidden
   #faq 
      .faq__content
         max-width: 79% 
         margin: 0 auto
         width: 100%
   .faq__item h3 
      text-align: center
      line-height: 37px 
   .faq__pic 
      right: -99px
      top: 79px
      width: 414px
   .contact__wrap
      padding-top: 50px
   .map__fig 
      left: -209px
      top: 0px
      width: 437px
   .map__pic 
      right: -65px
      top: 108px
      width: 247px
      height: 288px
   .map__canvas #map-canvas
      max-width: 1000px
      margin: 0 auto
@media screen and (max-width: 1199px)
   .menu 
      position: fixed
      top: 80px
      right: 0
      width: 100%
      height: 100%
      padding: 40px 40px 0
      background: var(--color-primary)
      transform: translateX(200%)
      transition: transform 0.5s
      z-index: 2101
      overflow: hidden
      display: block
      &.active 
         transform: translateY(0)
      &__bg 
         object-fit: contain
         position: absolute
         bottom: -133px
         left: -46px
         width: 100%
         max-height: 50%
      ul 
         display: flex
         flex-direction: column 
         text-align: center
         gap: 20px
         position: relative
         z-index: 2
         overflow-y: auto
         max-height: 417px
         overflow-x: hidden
         li 
            a
               font-weight: 500
               line-height: 23px
               text-align: center
               color: var(--color-text-white)
               &:hover 
                  color: var(--color-text-yellow)
      &__close 
         margin: 100px auto 0
         position: relative
         z-index: 3
         &:hover 
            background: var(--color-text-black)
   .main__btn
      display: block
      width: 44px
      height: 44px
      position: relative
      background: url("../img/menu1.svg") center / contain no-repeat
      &.active 
         background: url("../img/menu2.svg") center / contain no-repeat
   .main__head ul
      display: none
   .template-content
      &.no-scroll
         overflow: hidden
         height: 100vh
   .personal_greeting__images img:nth-child(1)
      display: none
   .personal_greeting__images img:nth-child(2)
      width: 295px
      top: 0
      right: 0
      position: relative
      margin: 0 auto 60px
      display: block
      height: 365px
   .personal_greeting__images img:nth-child(4) 
      width: 505px
      top: initial
      margin-right: -265px
      bottom: -67px
   .personal_greeting__decor_1
      z-index: 0
      width: 388px
      top: -111px
      left: initial
      right: 0
      transform: rotate(108deg) !important
   .calendar__pic_2 
      right: -265px
      top: 14px
      width: 1028px
      z-index: 2
   .calendar__pic_1 
      left: -61px
      top: 271px
      border-radius: 24px
      width: 422px
      height: 478px
   .calendar__sub
      margin-top: 60px
   .about__wrap
      flex-direction: column
      align-items: flex-start
   .about__pic 
      right: 16px
      width: 104%
      height: 600px
      position: relative
      top: initial
      bottom: -8px
   .about 
      padding-top: 80px
   .about__content 
      width: 100%
      max-width: 821px
      padding: 42px 0 73px
      position: relative
      text-align: center
      margin: 0 auto
   .about__content h2
      margin: 0 auto 40px
      text-align: center
   .about__fig2
      display: none
   .about__fig1 
      display: block
      margin: 0 auto
      position: relative
      top: 0
      left: 0
      left: 0
      width: 320px
   .faq__wrap
      padding-top: 40px
      padding-bottom: 200px
   .timing__sub 
      max-width: 806px
      margin: 0 auto 60px
   .timing__tabs
      overflow-x: auto
      overflow-y: visible
   .timing__content
      max-width: 100%
   .timing 
      overflow: hidden
   .timing__pic_3 
      left: -142px
      width: 325px
      bottom: -24px
      right: initial 
   .timing__pic_1 
      width: 707px
      bottom: -395px
      left: initial
      right: -208px
      transform: rotate(90deg) scaleY(-1) !important
   .timing__pic_2
      display: none
   .timing__pic_4 
      height: 368px
      width: 324px
      bottom: -39px
      right: 200px
      transform: rotate(-28deg) !important
   .timing__fig 
      bottom: -135px
      width: 427px
      position: absolute
      right: initial
      top: initial
      z-index: 0
      left: 117px
   .timing__item a
      letter-spacing: 0
   .story__wrap
      flex-direction: column-reverse
   .story__content 
      text-align: center
      max-width: 700px
      margin-left: 52px
      top: 0
      margin-top: 92px
      left: 0
      margin: 0 auto 30px
   .story
      padding-top: 50px
   .story__content h2
      text-align: center
   .story__pic_4
      display: none
   .story__arrows
      justify-content: center
   .story .swiper-gallery 
      width: 617px
      height: 630px
      margin: 0 auto
   .story__pic_1 
      left: -206px
      top: 366px
   .dress__bg 
      width: 1400px
      height: 104px
      top: 30px
      margin-left: -700px
   .dress__pic
      display: none
   .dress__colors 
      gap: 50px
   .dress
      padding-bottom: 40px
   .guest__wrap
      margin: 40px auto
   .guest .guest-select-swiper__next, .guest .guest-select-swiper__prev
      display: none
   .wishlist__images img:first-child
      display: none
   .wishlist__images img:nth-child(2)
      width: 298px
      top: 0
      right: 0
      position: relative
      display: block
      margin: 0 auto 40px
      height: 368px
   .wishlist__images img:nth-child(4) 
      width: 512px
      top: 68px
      margin-right: -263px
   .wishlist__fig1
      width: 300px
      top: -72px
      right: 0
   #faq .faq__content
      max-width: 100%
   .faq__pic 
      right: initial
      top: -159px
      width: 378px
      z-index: 1
      left: -152px
      transform: rotate(129deg) !important
   .faq__fig 
      position: absolute
      left: 50%
      margin-left: -580px
      bottom: 0px
      z-index: 1
      width: 1160px
      height: 117px
      object-fit: cover
   .faq
      .faq__wrap
         padding-bottom: 0px
   .contact__wrap
      padding-top: 55px
   .contact p
      letter-spacing: 0
   .contact a
      letter-spacing: 0
   .contact h3
      letter-spacing: 0
   .contact p 
      letter-spacing: 0
      width: 100%
      max-width: 700px
      margin: 0 auto 40px
   .footer h2
      letter-spacing: 0.3px
      margin-top: 20px
   .map h2
      margin-bottom: 30px
   .map__wrap
      padding-top: 300px
   .map__pic 
      right: 50%
      top: -28px
      width: 247px
      margin-right: -61px
   .map__fig 
      left: 50%
      margin-left: -57px
      width: 312px
      transform: rotate(181deg) !important
      top: -52px
   .guest__content
      gap: 19px 4px
   .faq .faq__wrap
      padding-bottom: 70px
   .contact__wrap
      padding-top: 0
   .timing__wrap
      padding-bottom: 230px
@media ( max-width: 991px )
   input, textarea, select
      -webkit-appearance: none
      -moz-appearance: none
      appearance: none
   .main__area
      width: 100%
   .main__wrap
      padding-top: 230px
   .personal_greeting h3
      margin-top: 3px
   .personal_greeting p
      letter-spacing: 0
      width: 100%
      max-width: 80%
   .timer
      position: relative
      z-index: 2
   .timer__item span
      line-height: 120%
   .timer__item:after
      top: 6px
   .calendar__pic_1 
      left: -88px
      top: 352px
      border-radius: 24px
      width: 310px
      height: 352px
   .calendar__pic_3
      display: none
   .calendar__pic_2 
      right: -284px
      top: 140px
      width: 846px
      z-index: 2
      max-height: 900px
   .calendar__sub 
      line-height: 139%
      margin-top: 40px
      max-width: 75%
   .about__content
      max-width: 80%
      padding-bottom: 50px
   .about__pic
      width: 105%
   .timing
      .faq__wrap
         padding-top: 80px
   .timing__sub 
      letter-spacing: 0
      max-width: 68%
      margin: 0px auto 50px
      line-height: 129%
   .about__content p
      line-height: 139%
      max-width: 80% 
      margin: 0 auto
   .timing__tabs
      justify-content: flex-start
   .timing__tabs button
      height: 60px
      padding: 0 20px 
   .timing__item span
      margin-bottom: 10px
   .timing__area
      padding: 40px 30px
   .timing__content
      padding: 20px
      border-radius: 24px
   .timing .faq__wrap
      padding-bottom: 200px
   .story__content h2
      margin-bottom: 30px
   .story__pic_5
      display: none
   .story .swiper-gallery
      width: 100%
   .story__content
      z-index: 3
      position: relative
   .story__arrows 
      justify-content: center
      position: absolute
      z-index: 3
      left: 50%
      margin-left: -72.5px
      bottom: -612px
      top: initial
      .swiper-button-prev.swiper-button-disabled
         opacity: 1 !important
         background: white !important
         svg 
            path 
               fill: var(--color-primary)
   .story__content p 
      letter-spacing: 0
      max-width: 80%
      margin: 0 auto
      line-height: 139%
   .story__wrap
      padding-bottom: 300px
   .story__pic_2
      display: none
   .story__pic_3 
      width: 179px
      right: -17px
      bottom: 0
   .story__pic_1 
      left: 0
      top: initial
      bottom: -66px
      transform: rotate(261deg)
   .dress
      padding-top: 90px
   .dress__sub
      max-width: 80%
      margin: 0 auto 30px
      line-height: 139%
   .dress h2
      margin-bottom: 30px
   .dress__colors 
      gap: 30px
   .guest__wrap
      padding: 20px
   .guest .guest-select-swiper__slide
      padding: 0 20px
      height: 60px
   .guest__area
      padding: 30px
   .guest__content
      gap: 0
   .guest__item
      width: 100%
      padding-left: 0
      padding-right: 0
   .guest__input
      width: 100%
   .guest__field textarea
      width: 100%
      min-height: 200px
   .guest__item_7 textarea
      min-height: 200px !important
   .guest__form_btn
      margin-top: 0
      width: 100%
      max-width: 100%
      height: 60px
   .wishlist p
      max-width: 80%
      margin: 0 auto
      line-height: 139%
   .wishlist__btn
      width: 100%
      height: 60px
      margin-top: 30px
   #faq .faq__content
      padding: 30px
   .faq__item h3
      line-height: 120%
   .faq h2
      max-width: 60%
   h2 
      letter-spacing: -0.5px !important
   .contact p 
      letter-spacing: 0
      width: 100%
      max-width: 80%
      margin: 0 auto 30px
      line-height: 139%
   .map__tabs button
      height: 60px
      padding: 0 20px
   .timer
      margin-bottom: 40px
   .timing__wrap
      padding-top: 90px
@media screen and (max-width: 767px)
   .main__area
      height: 623px
   .main__pic 
      max-width: 100%
      width: auto
      height: 158px
      margin: 8px auto 30px
   .personal_greeting h3 
      letter-spacing: 0
      margin-top: 6px
      margin-bottom: 30px
   .timer
      margin-bottom: 160px
   .calendar__pic_1 
      left: -38px
      top: 255px
      border-radius: 24px
      width: 362px
      height: 411px
   .calendar__pic_2 
      right: -149px
      top: 18px
      width: 846px
      z-index: 2
   .calendar__pic_4 
      top: 287px
      right: -104px
      width: 259px
      bottom: initial
   .about__content p
      max-width: 91%
   .about__pic
      width: 107%
      height: 400px
   .timing__sub
      max-width: 90%
@media screen and (max-width: 576px)
   button:active, button:focus 
      outline: none
   button::-moz-focus-inner 
      border: 0
   a:active, a:focus
      outline: none
   input, textarea
      outline: none
   input:active, textarea:active
      outline: none
   input:focusout
      outline: none
   .main__row p
      top: -10px
   .main__head 
      padding: 5px 0
   .main__btn
      position: relative
      left: -8px
   .menu
      top: 53px
   .menu ul
      gap: 20px
   .menu__bg 
      bottom: -15px
      left: -120px
      width: 132%
      max-height: 50%
   .main__wrap
      padding-top: 293px
   .main__area
      height: 439px
   .main__content p
      margin-bottom: 14px
      line-height: 100%
      letter-spacing: -0.5px
   .main__content 
      padding: 47px 29px 53px
   .main__pic 
      width: auto
      height: 130px
      margin: 8px auto 34px
   .main__content span
      letter-spacing: -0.1px
      line-height: 100%
   .main__content h1
      margin-bottom: 28px
   .main__mob
      display: block
      position: absolute
      right: -1px
      bottom: 17px
      z-index: 2
      width: 234px
   .personal_greeting
      overflow: hidden
      padding-top: 100px
   .personal_greeting__images img:nth-child(2)
      width: 169px
      margin-bottom: 48px
      height: 209px
   .personal_greeting
      padding-top: 49px
   .personal_greeting__decor_1
      width: 236px
      top: -69px
      right: -88px
      transform: rotate(125deg) !important
   .personal_greeting h3 
      letter-spacing: 0
      line-height: 120%
      margin-top: 3px
      margin-bottom: 25px
      max-width: 330px
   .personal_greeting__images img:nth-child(4) 
      width: 328px
      top: initial
      margin-right: -169px
      bottom: -50px
   .personal_greeting
      padding-bottom: 51px
   .timer__item span
      margin-bottom: 5px
      line-height: 100%
   .timer
      gap: 30px
      margin-bottom: 192px
   .calendar h2
      margin-bottom: 27px
   .timer__item p
      line-height: 100%
   .timer__item:after 
      top: -12px
      right: -16px
   .calendar__pic_1 
      left: -41px
      top: 239px
      border-radius: 24px
      width: 223px
      height: 253px
   .calendar__pic_2 
      right: -91px
      top: 131px
      width: 581px
      z-index: 2
      max-height: 617px
   .calendar__pic_4 
      top: 333px
      right: -93px
      width: 205px
      bottom: initial
      height: 205px
   .calendar__box
      padding: 13px
      border-radius: 28px
   .calendar__area 
      border-radius: 28px
      padding: 20px 38px 30px 39px
   .calendar__box h3
      margin-bottom: 24px
      letter-spacing: 1px
      line-height: 90%
   .calendar__head div, .calendar__day
      font-size: 13px
      line-height: 100%
   .calendar__day.active:after
      width: 35px
      height: 35px
      margin-top: -17.5px
      margin-left: -17.5px
   .calendar__body
      gap: 22px 20px
      width: 100%
      max-width: 225.4px
      margin: 0 auto
   .calendar__head
      width: 100%
      max-width: 225.4px
      margin: 0 auto 24px
   .calendar__sub
      line-height: 140%
      max-width: 330px
      margin-top: 23px
   .calendar
      padding-bottom: 50px
   .about__fig1
      width: 185px
   .about
      padding-top: 40px
   .about__content
      max-width: 100%
      padding: 17px 0 26px
   .about__pic 
      width: 110%
      height: 329px
   .timing__top 
      width: 1440px
      margin-left: -964px
      height: 104px
      top: 21px
   .timing__tabs button 
      line-height: 100%
      height: 48px
      padding: 0 14px
   .timing__tabs
      margin-bottom: 25px
   .timing__sub
      margin-bottom: 23px
   .timing__content
      padding: 16px
   .about__content h2
      margin-bottom: 24px
   .timing
      padding-top: 68px
   .timing h2
      margin-bottom: 14px
   .timing .timing__item h3
      line-height: 100%
   .timing__item span
      margin-bottom: 6px
      line-height: 140%
   .faq__item p, .timing__item p
      letter-spacing: -0.5px
   .timing__area 
      padding: 29px 14px
   .timing__item
      padding-bottom: 20px
      margin-bottom: 20px
   .timing__item a
      letter-spacing: -0.45px
   .timing .faq__wrap
      padding-bottom: 128px
   .timing__pic_4 
      height: 260px
      width: 216px
      bottom: -56px
      right: 26px
      transform: rotate(-27deg) !important
   .timing__pic_3 
      left: -115px
      width: 228px
      bottom: -27px
      right: initial
   .timing__pic_1 
      width: 585px
      bottom: -261px
      opacity: 1 !important
      left: initial
      right: -181px
      transform: rotate(84deg) scaleY(-1) !important
   .timing__fig 
      bottom: -122px
      width: 235px
      position: absolute
      right: initial
      top: initial
      z-index: 0
      left: 2px
   .story
      padding-top: 5px
   .personal_greeting p, .about__content p, .timing__sub, .story__content p, .dress__sub, .wishlist p, .contact p
      line-height: 140% 
      width: 100%
      letter-spacing: -0.4px
      max-width: 330px
   .story__content h2 
      margin-bottom: 26px
      letter-spacing: -1.1px !important
   .story .swiper-gallery
      height: 348px
   .story__arrows
      margin-left: -60.5px
      bottom: -358px
      div 
         width: 44px
         height: 44px
   .story__wrap
      padding-bottom: 201px
   .story__pic_1 
      left: -64px
      bottom: -144px
      transform: rotate(261deg)
      width: 250px
   .dress
      padding-bottom: 0
      padding-top: 55px
   .dress h2
      margin-bottom: 23px
   .dress__colors
      gap: 19px
   .dress__sub
      margin-bottom: 25px
   .guest__wrap
      margin: 19px auto
      padding: 16px
   .guest__area
      padding: 20px
      border-radius: 22px
   .guest h2 
      margin-bottom: 20px
   .guest .guest-select-swiper__slide
      line-height: 100%
      height: 48px
      padding: 0 10px
   .guest .guest-select-swiper
      margin-bottom: 15px
   .guest__item h3 
      line-height: 100%
      margin-bottom: 18px
   .guest__radios
      padding-left: 0
   .guest__radio-text
      margin-left: 13px
   .guest__item h3 span
      line-height: 100%
   .guest__input
      height: 50px
   .guest__item
      padding-bottom: 6px
   .guest__check-text 
      margin-left: 13px
   .guest__field textarea, .guest__item_7 textarea
      width: 100%
      min-height: 140px !important
      padding: 15px 20px 0 15px
   .guest__item_6
      padding-bottom: 0
      margin-bottom: 0px
   .guest__item_6, .guest__item_5
      h3 
         margin-bottom: 12px
   .guest__form_btn 
      margin-top: 4px
      height: 56px
   .wishlist__images img:nth-child(2)
      width: 146px
      height: 180px
      margin-bottom: 23px
   .wishlist
      padding-bottom: 35px
      padding-top: 68px
   .wishlist__btn 
      width: 252px
      height: 56px
      margin-top: 20px
   .wishlist__fig1
      z-index: 2
      width: 193px
      top: 0
      right: -33px
   .wishlist__images img:nth-child(4) 
      width: 287px
      top: 68px
      margin-right: -150px
   .faq .faq__wrap
      padding-top: 0
      padding-bottom: 70px
   .faq h2
      max-width: 100%
      margin-bottom: 28px
   .faq__item h3
      width: 100%
      max-width: 276px
      margin: 0 auto 13px
   #faq .faq__content 
      padding: 25px 20px
   .faq__item 
      padding-bottom: 13px
      margin-bottom: 21px
   .faq__fig
      height: 117px
      width: 1400px
      margin-left: -700px
   .faq__fig 
      height: 117px
      width: 1130px
      margin-left: -565px
      bottom: 0px
   .contact__wrap
      padding-top: 0
   .contact h3
      margin-bottom: 13px
      line-height: 100%
   .contact
      padding-bottom: 48px
      p
         margin-bottom: 22px
      a 
         letter-spacing: -0.5px
   .map__wrap
      padding-top: 154px
   .map__pic 
      right: 50%
      top: -44px
      width: 154px
      height: 180px
      margin-right: -39px
   .map__fig 
      left: 50%
      margin-left: -25px
      width: 185px
      transform: rotate(196deg) !important
      top: -29px
   .map__tabs
      flex-wrap: nowrap
      justify-content: flex-start
      overflow-x: auto
   .map__tabs button
      line-height: 100%
      height: 48px
      white-space: nowrap
      padding: 0 14px
   .map h2
      margin-bottom: 25px
   .map__name
      line-height: 100%
   .map .map-marker__info
      width: 258px
   .footer h2
      margin: 9px 0 15px
      line-height: 100%
   .footer p
      line-height: 100%
      letter-spacing: 2.2px
   .main__content h1
      max-width: 299px
   // .main__bg
   //    object-position: 43% 0px
@media screen and (max-width: 440px)
   .main__content h1
      max-width: 271px
@media screen and (max-width: 380px) and (max-height: 650px)
   .menu__bg 
      bottom: -113px
      left: -120px
      width: 138%
      max-height: 47%
